
/*trang chủ*/

*
{
margin: 0px 0px 0px 0px;
padding: 0px;
}

body
{
	background: #E8FCFA;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:top;
	height: 100%;
}

#logo
{
	width: 100%;
	height: 110px;
	margin: auto;
	opacity: 0.5;
	list-style-type: none;
}

#logo li
{
    list-style-type: none;
    text-decoration: none;
       

    
}
#logo2
{
	width: 80%;
	height: 110px;
	margin: auto;
	float: left;
}



#menu 
{
width: 100%;
height: 60px;
margin: auto;
opacity: 0.8;
margin-top: 50px;

}



#menu ul
{
background: #89EEFF;
list-style-type: none;
text-align: center;

}

#menu ul li
{
color: #f1f1f1;
display: inline-block;
width: 250px;
height: 60px;
line-height: 60px;
margin-left: 0px;
font-size: 20px;
	padding: 5px;
}


#menu ul li a
{
	 display: block;
	text-decoration: none;
}
#menu ul li a:hover
{
	opacity: 0.5;
	color: blue;
}

#main
{
	
	height: 500px;
	margin: auto;
	margin-left: 45px;
	margin-top: 15px;
		
}

#mainleft
{
	width: 60%;
	height: 500px;
	float: left;
	
}

* {
	box-sizing:border-box
}
body 
{
	font-family: Verdana,sans-serif;
}
.mySlides 
{
	display:none;
         border-radius: 10px;
}


.slideshow-container 
{
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 10px;
}

.dot
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active 
{
  background-color: #717171;
}


.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
   border-radius: 10px;
}

@-webkit-keyframes fade 
{
  from 
	{
		opacity: .4
	} 
  to 
	{
		opacity: 1
	}
}

@keyframes fade 
{
  from
	{
		opacity: .4
	} 
  to 
	{
		opacity: 1
	}
}


@media only screen and (max-width: 300px) 
{
  .text 
	{
		font-size: 11px
	}
}

#right
{
	width: 30%;
	height: 350px;
	float: left;
	background-color: antiquewhite;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 100px;
	text-align: center;
	opacity: 0.7;
    border-radius:2%;
-moz-border-radius:3%;
-webkit-border-radius:4%;
	
}

#right p
{
	margin-top: 30px;
	font-family: "Times new roman";
	font-size: 25px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 10px 4px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

#footer
{
	width: 100%;
	height: 50px;
	margin: auto;
	background-color:#562EFB;
	text-align: center;
	font-size: 25px;
	opacity: 0.8;
	line-height: 45px;
	font-family: "times new roman";
    margin-top: 10px;
	
	
}

/*thực đơn*/

#mainM
{
	width: 100%;
	height: 2836px;
	margin: auto;
	
		
}

#mainMleft
{
	width: 24.8%;
	height: 200px;
	float: left;
	background-color: aqua;
	position: fixed;
	margin-left: 2.5%;
	margin-top: 110px;
     border-radius: 15px;
		
}

#mainMleft ul
{
	 list-style-type: none;
    margin: 0;
    padding: 0;
    width: 380px;
	height: 200px;

	text-align: left;
}


#mainMleft ul li a 
{
    display: block;
    color: #000;
    padding: 21px 50px;
	text-decoration: none;
	font-family: "times new roman";
	font-size: 25px;
	
}

#up 
{
	text-align: center;
	background-color:#CCF490;
    border-radius: 15px;
    height: 80px;
}

#mainMleft ul li a:hover
{
	background-color: brown;
	color: aliceblue;
    border-radius: 15px;
}

#mainMright 
{
	width: 65%;
	height: 1290px;
	float: left;
	
	opacity: 0.7;
	margin-left: 30%;
	margin-top: 20px;
	
}

#mainMright .sect
{
    position: relative;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

#DataList1
{position:absolute;
    top: 240px;
    left: 48px;
    width: 796px;
    height: 528px;
    margin-left: 10px;
    margin-top: 10px;
}
#mainMright .sectS
{
	height: 5%;
	background-color: aquamarine;
	text-align: center;
	font-family: "times new roman";
	font-size: 30px;
	padding: 2.5%;
    border-radius: 15px;
}

.sectTS
{
	background: url("IMG_1\1.jpg");
}
   
.sectTS
{
	background: url("IMG_1\1.jpg");
}
   
}

#mainMright .sectLT
{
	
}

#mainMright .sectXQ
{

}

#mainMright .sectDA
{
	
}

.tDon
{
	width: 65%;
	height: 174px;
	float: left;
	background-color: aliceblue;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 180px;
	margin-right: 10px;
    
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
   border: 6px solid #3605FF;
}

.tDon
{
	width: 65%;
	height: 174px;
	float: left;
	background-color: aliceblue;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-left: 180px;
	margin-right: 10px;
    
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
   border: 6px solid #3605FF;
}

.tDon img
{
	width:280px;
    height:163px;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
}

.tDon:hover
{ 
	border: 6px solid #B3C9F5;
}

.tDon ul li
{
    float:left;
    list-style-type: none;
    width:200px;
    
}

.giaM
{
    width: 55%;
    height: 174px;
     float:left;
     margin-top:40px;
    
}


.giaM li
{  margin-left: 120px;
    padding: 10px 5px;
    font-size:20px;
}

#footerM
{
	width: 100%;
	height: 50px;
	margin: auto;
	background-color:darkslategray;	
}

/*Giới thiệu*/

.mainIntr
{
	width: 85%;
	height: 500px;
	margin:auto;
	background-color: antiquewhite;
	margin-top: 20px;
}

#mainIleft
{
	width: 48%;
	height: 480px;
	float: left;
	background-color: aquamarine;
	overflow: scroll;
	margin-left: 40px;
	
	
}

#mainIleft::-webkit-scrollbar
{
	width: 10px;
}

#mainIleft::-webkit-scrollbar-thumb
{
	background: #9A9A9A;
	outline: 0;
	border-radius: 50px 0 0 50px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-thumb
{
	background: #9A9A9A;
	outline: 0;
	border-radius: 50px 0 0 50px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#mainIright
{
	width: 40%;
	height: 480px;
	float: left;
	margin-left: 25px;
	
}

#tsScl
{
	
	margin-left: 40px;
	float: left;
	font-family: "Times new roman";
	font-size: 25px;
	list-style-type: none;
	margin-top: 20px;
	
}

#tsScl li
{
	float: left;
	margin-top: 15px;
}

#tsScl li img
{
	float:  left;
	border: 5px solid #ECECEC;
	margin-right: 15px;
}





#dAn
{
	
	margin-left: 40px;
	float: left;
	font-family: "Times new roman";
	font-size: 25px;
	list-style-type: none;
	margin-top: 20px;
	
}

#dAn li
{
	float: left;
	margin-top: 15px;
}

#dAn li img
{
	float:  left;
	border: 5px solid #ECECEC;
	margin-right: 15px;
}


/*CỬA HÀNG*/

#topStore
{
	width: 1300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	margin: auto;
	background-color: aquamarine;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.9;
	font-family: "times new roman";
	font-size: 40px;
	border-bottom: 4px solid  #62B6EC;
}

#mainStore
{
	width: 1300px;
	height: 400px;
	margin: auto;
	margin-bottom: 10px;
	
}


#leftSt
{
	width: 800px;
	height: 550px;
	margin: auto;
	float: left;
	background-color: yellow;
	margin-left: 30px;
}

#rightSt
{
	width: 400px;
	height: 500px;
	float: left;
	
	margin-left: 20px;
}


/*liên lạc*/

#toptextC
{
	width: 1200px;
	height: 90px;
	line-height: 90px;
	margin: auto;
	background-color: cadetblue;
	text-align:justify;
	font-size: 50px;
	font-family: "times new roman";
	opacity: 0.7;
	margin-top: 20px;
}

#topC
{
	width: 1300px;
	height: 130px;
	margin: auto;
	font-family: "times new roman";
	text-align: center;
	font-size: 60px;
	
	
}

#leftTopC
{
	width: 700px;
	height: 110px;
	float: left;
	font-size: 18px;
	padding-top: 44px;
	border-bottom: 3px solid #000000;
}


#rightTopC
{
	width: 550px;
	height: 110px;
	float: left;
	margin-left: 25px;
	
}

#mainC
{
	width: 1000px;
	height: 400px;
	margin: auto;
	background-color: azure;
	margin-bottom: 20px;
	padding-left: 80px;
	margin-left: 260px;
}

#btn
{
	width: 80px;
	height: 30px;
	margin: auto;
	margin-top: 30px;
}

/*TIN TỨC*/

#topNews
{
	width: 900px;
	height: 60px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #5BD0E8;
	opacity: 0.8;
	font-family: "arial";
	font-size: 35px;
	line-height: 60px;
}

#mainNews
{
	width: 1100px;
	height: 500px;
	margin: auto;
	margin-bottom: 15px;
	background-color:#52E3B8;
	opacity: 0.6;
}

#news1
{
	
	margin-left: 40px;
	float: left;
	font-family: "Times new roman";
	font-size: 25px;
	list-style-type: none;
	margin-top: 20px;
	
}

#news1 li
{
	float: left;
	margin-top: 15px;
}

#news1 li img
{
	float:  left;
	border: 5px solid #ECECEC;
	margin-right: 15px;
}

/*ĐĂNG NHẬP*/
.loginBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing:border-box;
    background: rgba(0,0,0,.5);
}

.user
{
    height:100px;
    width:100px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute; 
    top: -81px;
    left: 169px;
}

h2
{
    margin:0;
    padding: 0 0 20px;
    color:#9A9A9A;
    text-align: center;

}

.loginBox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginBox input
{
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder
{
    color: rgba(255,255,255,.5);
}

.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover
{
    background: #9A9A9A;
    color: #262626;
}

.loginBox a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/* Website template by freewebsitetemplates.com */
@media only screen and (min-width : 320px) and (max-width : 568px) {
	html {
		-webkit-text-size-adjust: none;
	}
	img {
		max-width: 100%;
	}
	body #page {
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: auto;
	}
	#header {
		width: 100%;
	}
	#header div {
		max-width: none;
		overflow: hidden;
		padding: 90px 0 13%;
		width: 100%;
	}
	#header div a.logo {
		display: block;
		float: none;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}
	#header div a.logo img {
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 50%;
	}
	#header span#mobile-navigation {
		background: transparent url(../images/mobile/mobile-menu.png) no-repeat;
		display: block;
		height: 50px;
		margin: 0;
		padding: 0 0 0 0;
		position: absolute;
		right: 6%;
		top: 20px;
		width: 50px;
		z-index: 999;
	}
	#header div > ul#navigation {
		background-image: none;
		background: rgba(121, 101, 102, 0.91);
		border: 1px solid #f8f8f8;
		border-radius: 0;
		display: none;
		height: auto;
		padding: 0;
		position: absolute;
		right: 6%;
		top: 70px;
		width: 88%;
		z-index: 1000;
	}
	#header div > ul#navigation > li {
		border-left: 0;
		border-top: 1px solid #f8f8f8;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#header div > ul#navigation > li:first-child {
		border-top: 0;
	}
	#header div > ul#navigation > li:hover {
		background-color: transparent;
	}
	#header div ul#navigation li a {
		color: #f8f8f8;
		display: block;
		font-family: Arial;
		font-size: 1.125em;
		font-weight: normal;
		height: 3em;
		line-height: 3.125em;
		padding: 0 10px;
		text-align: left;
		text-shadow: none;
		width: auto;
	}
	#header .mobile-submenu {
		background: rgba(121, 101, 102, 0.91) url(../images/mobile/mobile-expand.png) no-repeat center;
		border-left: 1px solid #f8f8f8;
		display: inline-block;
		height: 3.4em;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		z-index: 0;
	}
	#header div ul#navigation li ul {
		background: none;
		border-top: 1px solid #f8f8f8;
		padding: 0;
		position: static;
		right: 0;
		text-align: left;
		width: 100%;
		z-index: 999;
	}
	#header div ul#navigation li ul, #header div ul#navigation li:hover ul {
		display: none;
	}
	#header div ul#navigation li {
		width: 100%;
		z-index: 40;
	}
	#header div ul#navigation li ul li {
		background: rgba(121, 101, 102, 0.91);
		border-top: 1px solid #f8f8f8;
		display: block;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	#header div ul#navigation li ul li:first-child {
		border: none;
	}
	#header div ul#navigation li ul li a {
		background: rgba(121, 101, 103, 0.91);
		color: #f8f8f8;
		padding-left: 20px;
		text-align: left;
		width: auto;
	}
	#header div ul#navigation li:hover a, #header div ul#navigation li.selected a, #header div ul#navigation li:hover ul li a, #header div ul#navigation li:hover ul li a:hover, #header div ul#navigation li ul li.selected a {
		display: block;
	}
	#header div ul#navigation li.selected > a {
		background: rgba(204, 60, 104, 0.91);
		color: #f8f8f8;
	}
	#body {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#body.home {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}
@media only screen and (max-width : 568px) and (orientation : landscape) {
	
}
	@media only screen and (max-width : 918px) {
	#body{
	}
	#body.home {
	}
	#body div.blog, #body div.singlepost {
		margin: 0;
		max-width: none;
		overflow: hidden;
		padding: 10% 0;
		width: 100%;
	}
	#body.home div.header div {
		margin: 0 auto;
		max-width: 960px;
		min-height: 470px;
		padding: 0;
		position: relative;
	}
	#body.home div.header img {
		display: block;
		height: 21%;
		left: 0;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 100%;
	}
	#body.home div.header div a {
		margin: 0 auto;
		padding: 52px 0 0;
		position: relative;
		right: 0;
		top: 292px;
	}
	#body.home div.body div, #body.home div.footer div {
		margin: 0 auto;
		max-width: none;
		width: 90%;
	}
	#body.home div.body div div {
		float: none;
		margin: 0 auto;
		padding: 0;
		width: 90%;
	}
	#body.home div.body div div h1, #body.home div.body div div h2, #body.home div.body div div p {
		width: 100%;
	}
	#body.home div.body div img {
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
		position: inherit;
		width: 100%;
	}
	#body.home div.footer div ul li {
		float: none;
		margin: 0;
		padding: 0 0 8%;
		width: 100%;
	}
	#body.home div.footer div ul li a.contact {
		float: none;
	}
	#body div.body {
		min-height: 280px;
	}
	#body div.body img {
		display: block;
		height: 15%;
		left: 0;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 100%;
	}
	#body div.footer {
		margin: 0;
		max-width: none;
		overflow: hidden;
		padding: 0 0 0;
		width: 100%;
	}
	#body div.footer div.sidebar {
		float: none;
		margin: 10% auto 0;
		padding: 36px 0 34px;
		width: 90%;
	}
	#body div.footer div.article {
		float: none;
		margin: 0 auto;
		padding: 8% 0 0 0;
		width: 90%;
	}
	#body div ul {
		padding: 10% 0;
		width: 100%;
	}
	#body div ul li {
		float: none;
		margin: 0 auto;
		padding: 0;
		width: 90%;
	}
	#body div ul li h1, #body div ul li p {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#body div.blog .featured {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#body div.blog .sidebar {
		background-color: #EFEDEE;
		float: none;
		margin: 0;
		padding: 0 0 71px;
		width: 100%;
	}
	#body div.blog .featured ul li:first-child {
		margin: 10% auto;
	}
	#body div.blog .featured ul li {
		background: none;
		margin: 10% auto;
		width: 90%;
	}
	#body div.blog .featured ul li img {
		float: none;
		margin: 5% auto;
	}
	#body div.blog .featured ul li div {
		float: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#body div.singlepost .featured img, #body div.singlepost .featured h1, #body div.singlepost .featured span, #body div.singlepost .featured p {
		padding: 4% 0;
	}
	#body div.blog .featured a.load, #body div.singlepost .featured a.load {
		display: none;
	}
	#body div.blog .sidebar, #body div.singlepost .featured,  #body div.singlepost .sidebar {
		float: none;
		margin: 0 auto;
		padding: 0 0 35px;
		width: 90%;
	}
	#body.contact div.body div{
		padding: 4% 0;
		max-width: none;
		width: 100%;
	}
	#body.contact div.body div div{
		padding: 5% 0;
		width: 90%;
	}
	#body.contact div.body div div img{
		float: none;
		margin: 0 auto;
	}
	#body.contact div.body div div h1, #body.contact div.body div div p{
		padding: 0 0 0 4%;
		width: 96%;
	}
	#footer div {
		margin: 0 auto;
		width: 90%;
	}
	#body div.footer .contact {
		float: none;
		margin: 0 auto;
		max-width: none;
		padding: 4% 0;
		width: 90%;
	}
	#body div.footer .contact form {
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
	}
	#body div.footer .contact form input, #body div.footer .contact form textarea {
		-webkit-appearance: none;
		border-radius: 0;
		margin: 0 auto 8px;
		width: 90%;
	}
	#body div.footer .contact form input#submit {
		-webkit-appearance: none;
		margin: 0 0 0 2%;
	}
	#body div.footer .section {
		background-color: #EFEDEE;
		float: none;
		margin: 0 auto 5%;
		max-width: none;
		padding: 0 0 35px;
		width: 90%;
	}
}


/* Website template by freewebsitetemplates.com */
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*-------------------------------------------FONTS---------------------------------------------*/
@font-face {
	font-family: 'roboto-regular-webfont';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'quicksand-bold-webfont';
	src: url('../fonts/quicksand-bold-webfont.eot');
	src: url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'magra-bold-webfont';
	src: url('../fonts/magra-bold-webfont.eot');
	src: url('../fonts/magra-bold-webfont.woff') format('woff'), url('../fonts/magra-bold-webfont.ttf') format('truetype'), url('../fonts/magra-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-regular-webfont';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-bold-webfont';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg') format('svg');
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background-color: #eeebec;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
}
#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
}
#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
#header div ul li a {
	color: #7a6666;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #cb3362;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #c8c10d;
}
#header div ul li ul li a {
	color: #cb3362;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
}
#header div ul li.menu:hover ul.primary, #header div ul li.menu ul#selected.primary {
	left: -30px;
}
#header div ul li.menu:hover ul.secondary, #header div ul li.menu ul#selected.secondary {
	left: -27px;
}
#header div ul li.menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body.home {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body.home div.header {
	background-color: #f8f8f8;
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body.home div.header img {
	display: block;
	left: 50%;
	margin: 0 auto 0 -563px;
	padding: 0;
	position: absolute;
	width: 1126px;
}
#body.home div.header div {
	margin: 0 auto;
	max-width: 960px;
	min-height: 660px;
	padding: 0;
	position: relative;
}
#body.home div.header div a {
	background: url(../images/icons.png) no-repeat 0 -128px;
	color: #FFFFFF;
	display: block;
	font-family: quicksand-bold-webfont;
	font-size: 24px;
	font-weight: normal;
	height: 99px;
	line-height: 24px;
	margin: 0;
	padding: 52px 0 0;
	position: absolute;
	right: 130px;
	text-align: center;
	text-transform: uppercase;
	top: 437px;
	width: 156px;
	z-index: 90;
}
#body.home div.body {
	background-color: #eae7e8;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}
#body.home div.body div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 0;
}
#body.home div.body div div {
	float: left;
	margin: 0;
	padding: 0 0 0 40px;
	width: 560px;
}
#body.home div.body div img {
	display: block;
	float: right;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
#body.home div.body div div h1 {
	color: #7A6666;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 47px 0 18px;
	text-align: left;
	text-transform: uppercase;
	width: 560px;
}
#body.home div.body div div h2 {
	color: #E32A62;
	display: block;
	font-family: magra-bold-webfont;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 0 26px;
	text-align: left;
	text-transform: none;
	width: 560px;
}
#body.home div.body div div p {
	color: #7a6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 560px;
}
#body.home div.body div div p a {
	color: #7a6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.home div.body div div p a:hover {
	color: #c8c10d;
}
#body.home div.footer {
	background-color: #c8c10d;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}
#body.home div.footer div {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}
#body.home div.footer div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 36px 0 32px;
	width: 100%;
}
#body.home div.footer div ul li {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 220px;
}
#body.home div.footer div ul li a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	height: 44px;
	margin: 0 auto 22px;
	padding: 0;
	width: 80px;
}
#body.home div.footer div ul li a.product {
	background-position: 0 -372px;
}
#body.home div.footer div ul li a.about {
	background-position: 0 -418px;
}
#body.home div.footer div ul li a.flavor {
	background-position: 0 -280px;
}
#body.home div.footer div ul li a.contact {
	float: none;
	background-position: 0 -326px;
}
#body.home div.footer div ul li h1 {
	color: #ffffff;
	font-family: lato-regular-webfont;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
/*----------------------------------------body-styles---------------------------------------*/
#body {
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body div.header {
	background-color: #c8c10d;
	margin: 0 auto;
	max-width: none;
	overflow: hidden;
	padding: 0;
}
#body div.header div {
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
}
#body div.header div h1 {
	color: #FFFFFF;
	font-family: lato-regular-webfont;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 28px 0 23px;
	text-align: center;
	text-transform: uppercase;
}
#body div.body {
	background-color: #ebebed;
	margin: 0;
	max-width: none;
	min-height: 249px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div.body img {
	display: block;
	left: 50%;
	margin: 0 auto 0 -507px;
	padding: 0;
	position: absolute;
	width: 1014px;
}
#body div.footer {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 40px 0 110px;
}
#body div.footer div.sidebar {
	background-color: #EFEDEE;
	float: left;
	margin: 0 10px 0 40px;
	padding: 36px 0 34px;
	width: 280px;
}
#body div.footer div.article {
	float: left;
	margin: 0;
	padding: 0 0 0 30px;
	width: 560px;
}
#body div.footer div.sidebar h1 {
	display: block;
	line-height: 48px;
	margin: 0 auto;
	padding: 0 0 50px;
	text-align: center;
	width: 193px;
}
#body div.footer div.sidebar p {
	display: block;
	line-height: 48px;
	margin: 0 auto;
	text-align: center;
	width: 169px;
}
#body div.footer div h1 {
	color: #CB3362;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 27px;
	text-align: left;
	text-transform: uppercase;
}
#body div.footer div p, #body div.footer div span {
	color: #7A6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: left;
}
#body div.footer div span {
	display: block;
	margin: 0;
	padding: 0;
}
#body div.footer div p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div.footer div p a:hover, #body div ul li p a:hover, #body div.blog .featured ul li div p a:hover, #body div.blog .sidebar p a:hover, #body div.blog .featured p a:hover, #body.contact div.body div div p a:hover {
	color: #c8c10d;
}
#body div {
	margin: 0 auto;
	max-width: 960px;
	padding: 7px 0 57px;
}
#body div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 22px;
	width: 100%;
}
#body div ul li {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 220px;
}
#body div ul li h1 {
	color: #E32A62;
	font-family: magra-bold-webfont;
	font-size: 28px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
	padding: 87px 0 27px 30px;
	text-align: left;
	text-transform: capitalize;
}
#body div ul li p {
	color: #7A6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 0 30px;
	text-align: left;
	width: 190px;
}
#body div ul li p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div ul li img {
	display: block;
	margin: 0 auto 15px;
	padding: 0;
	width: auto;
}
#body div ul li h2 {
	color: #e32a62;
	font-family: lato-regular-webfont;
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#body div.blog {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 98px 0 146px;
}
#body div.singlepost {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 98px 0 99px;
}
#body div.blog .featured {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 620px;
}
#body div.singlepost .featured {
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 620px;
}
#body div.blog .featured ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#body div.blog .featured ul li:first-child {
	margin: 0 0 50px 0;
}
#body div.blog .featured ul li {
	background: url(../images/bg-border.gif) no-repeat bottom center;
	float: none;
	margin: 0 0 39px;
	overflow: hidden;
	padding: 0;
	width: auto;
}
#body div.blog .featured ul li img {
	float: left;
	margin: 2px 0 0;
	padding: 0 30px;
	width: auto;
}
#body div.blog .featured ul li div {
	float: left;
	margin: 0;
	padding: 0 0 36px 10px;
	width: 370px;
}
#body div.blog .featured ul li div h1 {
	color: #CB3362;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 3px;
	text-align: left;
	text-transform: uppercase;
}
#body div.blog .featured ul li div span {
	color: #7A6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: left;
	text-transform: none;
}
#body div.blog .featured ul li div p {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 39px 0;
	text-align: left;
	width: 100%;
}
#body div.blog .featured ul li div p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div.blog .featured ul li div a.more {
	border: 2px solid #cbb5bc;
	color: #a5838e;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 156px;
}
#body div.blog .featured ul li div a.more:hover {
	background-color: #c8c10d;
	border: none;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	width: 160px;
}
#body div.blog .featured a.load {
	border: 2px solid #cbb5bc;
	color: #a5838e;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 156px;
}
#body div.blog .featured a.load:hover {
	background-color: #cb3362;
	border: none;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	width: 160px;
}
#body div.blog .sidebar {
	background-color: #EFEDEE;
	float: left;
	margin: 0;
	padding: 0 0 71px;
	width: 280px;
}
#body div.singlepost .sidebar {
	background-color: #EFEDEE;
	float: left;
	margin: 0;
	padding: 0 0 71px;
	width: 280px;
}
#body div.blog .sidebar h1, #body div.singlepost .sidebar h1 {
	color: #CB3362;
	font-family: magra-bold-webfont;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 42px 0 29px;
	text-align: center;
	text-transform: capitalize;
}
#body div.blog .sidebar img, #body div.singlepost .sidebar img {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: auto;
}
#body div.blog .sidebar h2, #body div.singlepost .sidebar h2 {
	color: #CB3362;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 34px 0 3px;
	text-align: center;
	text-transform: uppercase;
}
#body div.blog .sidebar span, #body div.singlepost .sidebar span {
	color: #7A6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: center;
	text-transform: none;
}
#body div.blog .sidebar p, #body div.singlepost .sidebar p {
	color: #7A6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0 0 64px;
	text-align: center;
	text-transform: none;
	width: 200px;
}
#body div.blog .sidebar p a, #body div.singlepost .sidebar p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div.blog .sidebar a.more, #body div.singlepost .sidebar a.more {
	border: 2px solid #d3c2c7;
	color: #a5838e;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	height: 36px;
	line-height: 36px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 156px;
}
#body div.blog .sidebar a.more:hover, #body div.singlepost .sidebar a.more:hover {
	background-color: #c8c10d;
	border: none;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	width: 160px;
}
#body div.singlepost .featured img {
	display: block;
	margin: 0;
	padding: 1px 0 0 30px;
	width: auto;
}
#body div.singlepost .featured h1 {
	color: #CB3362;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 40px 0 4px 30px;
	text-align: left;
	text-transform: uppercase;
}
#body div.singlepost .featured span {
	color: #7A6666;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 23px 30px;
	text-align: left;
	text-transform: none;
}
#body div.singlepost .featured p {
	color: #7A6666;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px 30px;
	text-align: left;
}
#body div.singlepost .featured p a {
	color: #7a6666;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div.singlepost .featured a.load {
	border: 2px solid #CBB5BC;
	color: #A5838E;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	height: 36px;
	line-height: 36px;
	margin: 63px auto 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 156px;
}
#body div.singlepost .featured a.load:hover {
	background-color: #c8c10d;
	border: none;
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	width: 160px;
}
#body.contact div.body {
	background: url(../images/map.jpg) no-repeat center top #b5aaad;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}
#body.contact div.body div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 39px 0 0;
}
#body.contact div.body div div {
	background: url(../images/bg-transparent.png) repeat;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0 35px 133px;
	width: 747px;
}
#body.contact div.body div div img {
	float: left;
	left: auto;
	margin: 0 38px 0 0;
	padding: 0;
	position: relative;
	width: auto;
}
#body.contact div.body div div h1 {
	color: #CB3362;
	float: left;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 15px 0 4px;
	text-align: left;
	text-transform: uppercase;
	width: 510px;
}
#body.contact div.body div div p {
	color: #7a6666;
	float: left;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 510px;
}
#body.contact div.body div div p a {
	color: #7a6666;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div.footer .contact {
	float: left;
	margin: 0 10px 0 0;
	max-width: none;
	padding: 0 0 61px 40px;
	width: 590px;
}
#body div.footer .contact h1 {
	color: #CB3362;
	float: none;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0 0 43px;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
#body div.footer .contact form {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 560px;
}
#body div.footer .contact form input {
	background: none;
	border: 1px solid #B6ADB0;
	color: #7A6666;
	display: block;
	font-family: lato-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
	margin: 0 0 8px;
	padding: 0 0 0 10px;
	text-align: left;
	width: 548px;
}
#body div.footer .contact form textarea {
	background: none;
	border: 1px solid #B6ADB0;
	color: #7A6666;
	display: block;
	font-family: lato-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	height: 270px;
	line-height: 24px;
	margin: 0 0 9px;
	overflow: auto;
	padding: 7px 0 0 10px;
	resize: none;
	text-align: left;
	width: 548px;
}
#body div.footer .contact form input#submit {
	background: none;
	border: 2px solid #c5abb4;
	color: #a5838e;
	cursor: pointer;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	height: 40px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 141px;
}
#body div.footer .contact form input#submit:hover {
	background-color: #c8c10d;
	border: none;
	height: 40px;
	width: 141px;
}
#body div.footer .section {
	background-color: #EFEDEE;
	float: left;
	margin: 0;
	max-width: none;
	padding: 0 0 35px;
	width: 280px;
}
#body div.footer .section h1 {
	color: #CB3362;
	display: block;
	font-family: lato-regular-webfont;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 24px 0 27px;
	text-align: center;
	text-transform: uppercase;
	width: 202px;
}
#body div.footer .section p {
	color: #7A6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 202px;
}
#body div.footer .section p a {
}
#body div.footer .section p a:hover {
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #cb3362;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 90px;
}
#footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 59px 0 13px;
}
#footer div p {
	color: #FFFFFF;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 33px 0 50px;
	text-align: center;
	text-transform: none
}
#footer div .connect {
	display: block;
	height: 30px;
	margin: 0 auto;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 240px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 30px;
	margin: 0 15px;
	padding: 0;
	text-indent: -99999px;
	width: 30px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -32px;
}
#footer div .connect a.pinterest {
	background-position: 0 -64px;
}
#footer div .connect a.twitter {
	background-position: 0 -96px;
}
